[Unit]
Description=BCM provisioning compatibility fixes
Before=networking.service cmd.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bcm-compat-fixes.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
