CUSTOM_TAG={{ CUSTOM_TAG }}
IMAGE_REGISTRY={{ IMAGE_REGISTRY }}
OS_DISTRIBUTION={{ OS_DISTRIBUTION }}
IMAGE_REPO={{ OS_DISTRIBUTION }}
OS_VERSION={{ OS_VERSION }}
K8S_DISTRIBUTION={{ K8S_DISTRIBUTION }}
ISO_NAME={{ ISO_NAME }}
ARCH={{ ARCH }}
HTTPS_PROXY=
HTTP_PROXY=
UPDATE_KERNEL=false
CLUSTERCONFIG=spc.tgz
CIS_HARDENING=false
EDGE_CUSTOM_CONFIG=.edge-custom-config.yaml
FORCE_INTERACTIVE_INSTALL=false
